<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.47645121534029489</real>
			<key>green</key>
			<real>1</real>
			<key>red</key>
			<real>0.33263423363518063</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>0.46157464815990379</real>
			<key>red</key>
			<real>0.79607144248145167</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.50196081399917603</real>
			<key>red</key>
			<real>0.0</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.53338249360000001</real>
			<key>green</key>
			<real>0.13832545339999999</real>
			<key>red</key>
			<real>0.31950231559999998</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.0</real>
			<key>green</key>
			<real>0.68136350493352027</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.50196081399917603</real>
			<key>green</key>
			<real>0.0</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.14193404634204543</real>
			<key>green</key>
			<real>0.14193404634204543</real>
			<key>red</key>
			<real>0.96078431369999995</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.66836734689999999</real>
			<key>green</key>
			<real>0.26971190379999999</real>
			<key>red</key>
			<real>0.04086450925</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.87444197999999995</real>
			<key>green</key>
			<real>0.66631799999999997</real>
			<key>red</key>
			<real>0.34946315999999999</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>1</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.13084894654668433</real>
			<key>green</key>
			<real>0.82877478161138085</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>0</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>accessory</key>
		<string></string>
		<key>colour</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0.092828731306044077</real>
			<key>green</key>
			<real>0.27872727197073455</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>name</key>
		<string></string>
		<key>type</key>
		<integer>1</integer>
		<key>val</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
